/* --------------- 상영시간표 ---------------*/

.wrapper {
    padding: 80px 40px;
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.wrapper::after {
    content: " ";
    display: block;
    clear: both;
}


/*왼쪽 달력 영역*/

.calendarWrapper {
    width: 657px;
    height: 642px;
    background: url('../img/calendar/timeTable.PNG') no-repeat;
    padding: 28px 10px;
    float: left;
}

table.calendar {
    border: none;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

table.calendar td {
    border: none;
}

table.calendar tr:first-child {
    height: 212px;
}

table.calendar td {
    /*        background: rgba(0, 0, 0, .5);*/
}

table.calendar td:empty {
    background-color: transparent;
}

table.calendar td a {
    display: block;
    width: 100%;
    height: 100%;
}


/*오른쪽 위 상영시간표 영역*/

.timetableWrapper {
    width: 517px;
    /*background: url('img/calendar/timetable_day.png') no-repeat;*/
    margin-bottom: 55px;
    float: right;
}

.timetable,
.detail {
    overflow-y: hidden;
}

.timetable dd,
.timetable dt {
    display: inline-block;
}

.timetable dt {
    height: 40px;
    padding: 7px 29px 0px 24px;
    border-right: 1px solid #bebebe;
    font-size: 23px;
}

.timetable dd {
    padding: 0 11px;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.timetable dd:first-of-type {
    width: 166px;
    background: url(../img/calendar/calendar_opening.png) no-repeat right 2px;
}

.timetable dd:last-of-type {
    width: 110px;
    background: url(../img/calendar/calendar_closing.png) no-repeat right 2px;
}

.timetable dt+dd {
    border: none;
    padding-left: 8px;
}

.timetable hr {
    display: block;
    border-style: none;
}


/*오른쪽 아래 영화 상세 영역*/
.detailDisplay {
    position: absolute;
    width: 517px;
    height: 291px;
    top: 429px;
    left: 725px;
    overflow: hidden;
}

.detailList {
    height: 291px;
    /* width는 jQuery가 결정 */
}

.detailList::after {
    content:"";
    display: block;
    clear: both;
}

.detailWrapper {
    position: relative;
    float:left;
    width: 517px;
}
.detailWrapper .detail {
    padding: 15px;
}

.detailWrapper img {
    width: 157px;
    height: 227px;
}

.detailWrapper .detail {
    height: 257px;
}

.detailWrapper .detailDscr {
    width: 305px;
    height: 100%;
    float: right;
    position: relative;
    padding-top: 5px;
}

.detailWrapper .detailDscr h3,
.detailWrapper .detailDscr p {
    margin-bottom: 5px;
}

.detailWrapper:first-child .detail h3 {
    width: 200px;
    background: url(../img/calendar/calendar_opening.png) no-repeat right 5px;
}
.detailWrapper:last-child .detail h3 {
    width: 115px;
    background: url(../img/calendar/calendar_closing.png) no-repeat right 5px;
}
.detailWrapper .detailDscr p:first-of-type {
    margin-bottom: 15px;
}

.detailWrapper .detailDscr .reservation {
    padding: 5px 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


/* 글꼴 , 배경색, 배경이미지 모음 */

.timetableWrapper,
.detailWrapper {
    font-family: "나눔스퀘어", "Calibri", sans-serif;
}

.timetableWrapper {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
}

.timetableTitle,
.detailTitle {
    background: #c1272d;
    text-align: center;
    color: #fff;
    line-height: 34px;
    /* 세로 가운데 정렬 용으로 씀.*/
}

.timetable,
.detail {
    background-color: #f3f3f3;
    padding: 10px;
}

.detailWrapper .detailDscr {
    letter-spacing: -1px;
    word-spacing: 2px;
}

.detailWrapper .detailDscr p:last-of-type {
    font-size: 14px;
    line-height: 170%;
    text-align: justify;
}

.detailWrapper .detailDscr h3 {
    font-size: 190%;
}

.detailWrapper .detailDscr .reservation {
    background: #777;
    color: #fff;
    font-size: 18px;
}


/*----------------------------- 상영시간표 끝 -----------------------------*/



